.banner-photo {
    display: block;
    position: relative;
    width: 330px;
    height: 380px;
    border-radius: 3px;
    overflow: hidden;
    border: 18px solid;
    border-image: linear-gradient(330deg, #e2e8ec,#ffffff)1!important;
    box-shadow: 5px 5px 15px #ffffff,-5px -5px 15px #D1D9E6;
}
.banner-photo .bp-inner{
    background-image: url('../../../files/alamin.png');
    /* background-image: url(https://i.ibb.co/yXTcL5C/alamin.png); */
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    display: block;
    position: absolute;
    top: -20px;
    bottom: -25px;
    width: auto;
    left: -90px;
    right: -25px;
    border-radius: 3px;
}
.banner-title{
    font-size: 48px;
}
.carousel-width{
    width: 75%;
}
@media only screen and (max-width: 600px) {
    .banner-photo {
        width: 220px;
    height: 220px;
    }
    .banner-photo .bp-inner {
        bottom: 0;
    left: 0;
    right: 0;
    }
    .banner-title{
        font-size: 32px;
    }
    .carousel-width{
        width: 100%;
    }
  }

  